extends layout

block body
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
<<<<<<< Updated upstream
      a.navbar-brand(href="#") NodeJobs
    
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="view1") App profile
        li  
          a(href="view2") Find developer 
  .container      
=======
      a.navbar-brand(href="#") Brand

    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="view1") View1
        li
          a(href="view2") View2
  .container
>>>>>>> Stashed changes
    div(ng-controller='AppCtrl')
      .jumbotron
        h1 Hello {{name}}
      div(ng-view)
<<<<<<< Updated upstream
    hr  
    footer
      div.form-group
<<<<<<< HEAD
        label.col-sm-2.control-label(for="subscribeEmail") Add your mail
        div.col-sm-10
          div.col-sm-8
            input.form-control.pull-left(type="email",id="subscribeEmail",placeholder="Email")
          button.pull-left.col-sm-2.btn.btn-primary(type="button") Subscribe
=======
    hr
    div
      | Angular seed app: v
      span(app-version)
>>>>>>> Stashed changes
=======
        div.col-sm-8.center-block
          input.form-control.pull-left(type="email",id="subscribeEmail",placeholder="Email")
        button.pull-left.col-sm-2.btn.btn-primary(type="button") Subscribe
>>>>>>> small ui changes

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')