/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

body {
	font-family: 'Raleway', sans-serif;  
}

.navbar-default {
	background: #2c3e50;
	color: #fff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand {
	color: #fff;
}

.btn,
.form-control {
	border-radius: 0;
}

.btn-primary {
	background: #2c3e50;
	border-color: #2c3e50;
}

.user-form {
	margin-top: 30px;
}

.user-form label {
	background: #89c21a;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	padding: 0 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.user-form-description {
	font-size: 14px;
	border-left: 1px solid #ccc;
	padding: 0 0 0 20px;
	min-height: 250px;
}

  